<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Soup, Salad, and Sandwich App is running!</h1>
  <app-choppingblock></app-choppingblock>
  <app-comment></app-comment>
  <app-dishpage></app-dishpage>
    <app-dishimage></app-dishimage>
  <app-hottopics></app-hottopics>
  <app-login></app-login>
  <app-menu></app-menu>
  <app-menuitem></app-menuitem>  
  <app-navbar></app-navbar>
  <app-recentlyaddedrow></app-recentlyaddedrow>
  <app-registration></app-registration>
  <app-saladmenu></app-saladmenu>
  <app-sandwichmenu></app-sandwichmenu>
  <app-soupmenu></app-soupmenu>
</body>
</html>
