<div class="container-fluid">
    <div class="card">
        <div class="card-body text-center">
            <h1 class="card-title">{{dish.name | titlecase}}</h1>
        </div>
        <img class="card-img-bottom mx-auto" src={{dish.photo_url}} alt={{dish.name}} style="margin-bottom: 40px">
        <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin: 1rem; margin-left: 400px; margin-right: 400px;">
            <label class="btn btn-secondary">
              <input type="radio" name="soup" id="soup" autocomplete="off" > Soup (2)
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="salad" id="salad" autocomplete="off"> Salad (3)
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="sandwich" id="sandwich" autocomplete="off"> Sandwich (4)
            </label>
          </div>
    </div>

</div>