.container-fluid{
    margin-top: 20pt;
}

img {
    border-radius: 25px !important;
    height: 300px !important;
    width: 400px !important;
}

.comment{
    margin: 40px;
}

.thumbs{
    width: 15px !important;
    height: 15px !important;
}