<span>
    <h1 class="text-center" style="color:white">~SALAD~</h1>
	<div class="row row-cols-1 row-cols-md-4 text-center">
		<div *ngFor="let s of salad" class="col mb-8">
			<div class="card text-center bg-dark" style="width: 18rem">
				<a class="thumbnail" routerLink="/dish" [state]="{ inputDish: s.id }">
					<img class="card-img-top img-fluid" src= {{s.photo_url}} alt="">
					<h5 class="card-title align-middle" style = "color:white">{{s.name | titlecase}}</h5>
				</a>
			</div>
		</div>
	</div>
</span>
