@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

#logo{
    font-family: 'Supermercado One';
    word-spacing: 5px;
    color: green;  
}

a {
    text-decoration: none
    color: 
}

a.hover{

}