<div class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="home" id="logo" ><strong>Soup, Salad, and Sandwich App</strong></a>
    <div class="row">
        <a href="viewdishes">View Dishes</a>
        
        <ng-container *ngIf="!loggedUser; else loggedIn">
            <!-- user registration -->
            <a href="register"><strong>Register</strong></a>
            <!-- user login -->
            <form>
                <label for="user">Username: </label>
                <input id="user" name="user" type="text" [(ngModel)]="user" />
                <label for="pass"> Password: </label>
                <input id="pass" name="pass" type="password" [(ngModel)]="pass" />
                <button type="button" id="loginBtn" (click)="logIn()">Log In</button>
            </form>
        </ng-container>
        <ng-template #loggedIn>
            <a href="mydishes">My Dishes</a>
            <span>
                <a href="manage">{{ loggedUser.username }}&nbsp;</a>
                <button type="button" id="loginBtn" (click)="logOut()">Log Out</button>
            </span>
        </ng-template> 
    </div>
</div>

