<h1 class="register-title">Register New User</h1>

<form class="registration-form">
    <div class="form-group">
        <label for="user">Username</label>
        <input class="form-control" id="user" type="text" name="user" [(ngModel)]="user">
    </div>
    <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" class="form-control" id="pass" name="pass" [(ngModel)]="pass">
    </div>
    <div class="text-center">
        <button type="submit" id="registerBtn" class="btn btn-primary " (click)="registerUser()">Submit</button>
    </div>
</form>
